<div class="container">
  <h2>Search for a Book</h2>
  <!-- Added search label -->
  <form>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      name="searchQuery"
      placeholder="Enter book name..."
      required
    />
    <button (click)="searchBook()">Search</button>
  </form>

  <div *ngIf="foundBook" class="search-results">
    <h3>{{ foundBook.name }}</h3>
    <p>Author: {{ foundBook.author }}</p>
    <p>Edition: {{ foundBook.edition }}</p>
  </div>

  <div *ngIf="searchPerformed && !foundBook">
    No book found with the title "{{ searchQuery }}"
  </div>
</div>
