.delete-book-container {
  max-width: 400px;
  margin: 0;
  padding: 20px;
  padding-left: 0;
  background-color: #f9f9f9; /* Light grey background */
  padding: 20px; /* Padding around the container */
  border-radius: 5px; /* Rounded corners */
  height: 95px;
}

.delete-input {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

.message {
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
