.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

app-search-book,
app-book-list,
app-add-book,
app-delete-book {
  display: block;
  margin-bottom: 20px;
}

app-delete-book {
  margin-bottom: 0;
}
