<div class="add-book-container">
  <h2>Add Book</h2>
  <form (ngSubmit)="addBook()" #bookForm="ngForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input
        type="number"
        id="id"
        name="id"
        [(ngModel)]="newBook.id"
        required
        #id="ngModel"
      />
      <div *ngIf="id.invalid && (id.dirty || id.touched)" class="error">
        ID is required.
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="newBook.name"
        required
        #name="ngModel"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      <input
        type="text"
        id="author"
        name="author"
        [(ngModel)]="newBook.author"
        required
        #author="ngModel"
      />
      <div
        *ngIf="author.invalid && (author.dirty || author.touched)"
        class="error"
      >
        Author is required.
      </div>
    </div>

    <div class="form-group">
      <label for="edition">Edition:</label>
      <input
        type="text"
        id="edition"
        name="edition"
        [(ngModel)]="newBook.edition"
        required
        #edition="ngModel"
      />
      <div
        *ngIf="edition.invalid && (edition.dirty || edition.touched)"
        class="error"
      >
        Edition is required.
      </div>
    </div>

    <button type="submit" [disabled]="!bookForm.form.valid">Add Book</button>
  </form>
</div>
